In [37]:
import pandas as pd

df= pd.read_csv('CARAMELO.csv', sep=';')
df

,ID Venda,Loja,ID Loja,Estado Loja,Cidade Loja,Nome Cliente,ID Cliente,Sexo,Idade,Estado Cliente,Cidade Cliente,ID Produto,Categoria Produto,Marca,Data da Compra,Data da Entrega,Metodo de Pagamento,Produto,Valor de Venda
0,1,Melo,49,BA,Salvador,Lucas Silveira,35727,Masculino,24,BA,Vitória da Conquista,946,Eletrônicos,Lenovo,20/12/2024,30/12/2024,Pix,Drone,"7404,8"
1,10,Mendonça Machado Ltda.,7,SP,Sorocaba,Isabella Campos,2188,Feminino,41,MG,Uberlândia,112,Eletrônicos,Apple,22/11/2023,28/11/2023,Dinheiro,Celular,"2138,34"
2,1000,Cunha Mendes S.A.,97,BA,Camaçari,Marcela Barbosa,2293,Feminino,47,SP,Sorocaba,283,Alimentos,Del Valle,25/08/2023,27/08/2023,Dinheiro,Suco,"9,23"
3,100001,Nunes,77,MG,Contagem,Ravy Cunha,38559,Feminino,59,RJ,Petrópolis,805,Eletrônicos,Dell,03/08/2024,04/08/2024,Dinheiro,Notebook,"4178,61"
4,100007,Cunha Mendes S.A.,97,BA,Camaçari,Sra. Ana Cecília Pinto,19274,Masculino,27,SP,São Paulo,362,Alimentos,Coca-Cola,28/02/2023,08/03/2023,Pix,Refrigerante,"23,94"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149995,99992,Barbosa,96,RS,Pelotas,Caleb da Mota,223,Masculino,63,BA,Salvador,623,Alimentos,Pilão,11/11/2024,15/11/2024,Cartão,Café,"17,2"
149996,99994,Aparecida da Conceição e Filhos,15,RJ,Campos dos Goytacazes,Eduardo Cavalcanti,8975,Masculino,39,BA,Salvador,253,Alimentos,Vigorelli,11/01/2025,13/01/2025,Pix,Feijão,"42,23"
149997,99997,Moreira,53,RJ,Rio de Janeiro,Pedro Miguel Mendes,36587,Masculino,43,RS,Pelotas,535,Alimentos,Camil,09/09/2023,15/09/2023,Dinheiro,Arroz,"47,47"
149998,99998,Andrade,94,SP,Santos,Ana Luiza Porto,3938,Feminino,36,BA,Feira de Santana,183,Alimentos,Barilla,01/01/2025,02/01/2025,Pix,Macarrão,"30,37"
149999,99999,Teixeira,49,RS,Novo Hamburgo,Joana Moreira,11328,Feminino,24,BA,Feira de Santana,434,Roupas,Hering,05/09/2023,10/09/2023,Cartão,Camiseta,"284,43"

In [39]:
df['Valor de Venda'] = df['Valor de Venda'].str.replace(',', '.').astype(float)
#done

In [ ]:
df_coca = df.loc[df['Marca'] == 'Coca-Cola']
df_coca

In [ ]:
df_vale = df.loc[df['Marca'] == 'Del Valle']
df_vale

In [41]:
df_vale = df.groupby('Cidade Loja')['Valor de Venda'].mean().reset_index()
df_vale

              Cidade Loja  Valor de Venda
0                Camaçari      926.894189
1                Campinas      904.022311
2   Campos dos Goytacazes     1093.946287
3           Caxias do Sul     1133.995560
4                Contagem     1095.791096
5           Novo Hamburgo      911.327540
6                 Pelotas      869.794751
7            Porto Alegre     1046.748214
8          Ribeirão Preto     1037.533104
9          Rio de Janeiro     1151.400264
10               Salvador      987.868738
11                 Santos      923.435035
12               Sorocaba     1030.528988
13             Uberlândia     1294.083196